/* Global body styling */
body {
  background-color: black;
  color: #ffbf00;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  text-align: center;
  padding: 20px;
  overflow: hidden;
  touch-action: manipulation;
  -webkit-overflow-scrolling: none;
}

html, body {
  touch-action: manipulation;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
}

/* Title styling */
.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffd700;
}

/* Info positioning */
.info {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Instruction and countdown styling */
.instruction,
.countdown {
  color: #ff6347;
}

.instruction {
  font-size: 1.5rem;
}

.countdown {
  font-size: 4rem;
}

/* Control buttons */
.control-button {
  font-size: 1rem;
  padding: 10px 20px;
  margin: 5px;
  color: #ffd700; /* Warm yellow text for control buttons */
}

/* Shortcut buttons */
.shortcut-button {
  font-size: 1rem;
  padding: 10px 20px;
  margin: 5px;
  color: #ffd700; /* Warm yellow text for shortcut buttons */
}

/* Prevent zooming on input fields for iOS */
.no-zoom {
  font-size: 16px;
}

/* Dark button styling */
.dark-button {
  background-color: #333;
  color: #ffd700; /* Applying warm yellow text to dark buttons */
}
