body {
  background-color: black;
  color: #ffbf00;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  text-align: center;
  padding: 20px;
  overflow: hidden; /* Prevents scrolling */
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffd700;
}

.info {
  position: absolute;
  top:
